@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.SignalR.Client;
@using web_server.Models;
@using web_server.Models.DBModels

@model HubConnection;
@{
    Layout = "_Layout";
}

<style>
    .chat {
        margin-top: auto;
        margin-bottom: auto;
    }
    .bd-highlight.user_info span{
        font-size:26px;
    }
    .card {
        height: 500px;
        background-color: #FAFAFA !important;
        width:140%;
       height:80vh;
    }
    .messagerName {
        padding-left:20px;
        padding-top:10px;
        font-weight:bold;
    }
    .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }
.msg_card_body {
        overflow-y: auto;
    }

    .card-header {
        border-bottom: 1px solid #DBDBDB !important;
        background-color: #FAFAFA !important;
    }

    .card-footer {
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }

    .container {
        align-content: center;
    }

    .search {
        color: black !important;
    }

        .search:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .type_msg {
        background-color: #fff !important;
        border: 0 !important;
        color: black !important;
        padding-top:18px !important;
        height: 60px !important;
        overflow-y: auto;
        resize: none;
    }

        .type_msg:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .attach_btn {
        background-color: white !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .send_btn {
        background-color: white !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .search_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .contacts {
        list-style: none;
        padding: 0;
    }

        .contacts li {
            width: 90% !important;
            /*height:15%;*/
            padding-top:10px;
            padding-left:10px;
            margin-left:15px;
            margin-bottom: 15px !important;
        }

    .active {
        background-color: #DDDBDB;
    }

    .user_img {
        height: 50px;
        width: 50px;
        border: 1.5px solid #f5f6fa;
            margin-top: 2px;
            border-radius:50% !important;
            
    }

    .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;
    }

    .img_cont {
        position: relative;
        height: 50px;
        width: 50px;
    }

    .img_cont_msg {
        height: 40px;
        width: 40px;
        padding-top:10px;
          margin-bottom: 10px;

    }

    .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border: 1.5px solid white;
    }

    .offline {
        background-color: #c23616 !important;
    }

    .user_info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
        font-family:Poppins;
    }

        .user_info span {
            font-size: 23px;
            color: black;
            font-weight: 700;
        }

  
        .user_info p {
            font-size: 20px;
            color: black;
            font-family:Poppins;
            padding-left: 20px;
            font-weight: 700;
        }



    .msg_container {
       /* margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        position: relative;
        max-width: 100px;*/
        padding-left: 60px;
        font-family:Poppins;
    }

    .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        max-width: 100px;
        border-radius: 25px;
        background-color: #78e08f;
        padding: 10px;
        position: relative;
  word-break: break-all;
    }

    .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
    }

    .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
    }

    .msg_head {
        position: relative;
        display: flex;
    align-items: center;
        justify-content: right;
        font-size:20px;
    }
    .msg_container a{
        color: #478ac9 !important;
    }
    #action_menu_btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .action_menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
    }

        .action_menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .action_menu ul li {
                width: 100%;
                padding: 10px 15px;
                margin-bottom: 5px;
            }

                .action_menu ul li i {
                    padding-right: 10px;
                }

                .action_menu ul li:hover {
                    cursor: pointer;
                    background-color: rgba(0,0,0,0.2);
                }

    .justify-content-end {
        background-color: #FAFAFA;
        color: black;
    }

    .justify-content-start {
        background-color: #FAFAFA;
        color: black;

    }

    ul {
        list-style-type: none;
    }

</style>
<script src="~/js/signalR/signalr.min.js"></script>
<link href="~/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="~/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/css/modal.css">

<link href="~/css/chat.css" rel="stylesheet"/>
<!------ Include the above in your HEAD tag ---------->
<script>
    function chatSearch(){
                    var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = document.getElementById('searchInput').value.toUpperCase();
            table = document.getElementById("onlineUsersList");
            tr = table.getElementsByTagName("li");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("p");
                for (j = 0; j < td.length; j++) {
                    txtValue = td[j].textContent || td[j].innerText || td[j].innerHTML;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }
    }
    function getLastMessageForUser(userId) {
        const messages = getMessagesForUser(userId);
        // возвращаем последнее сообщение из списка
        return messages[messages.length - 1];
    }



</script>


<div class="container-fluid h-100">

    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">

            <div class="card mb-sm-3 mb-md-0 contacts_card" style="width:350px;height:80vh;">
                <div class="card-header">

                    <div class="input-group">
                        <input type="text" style="height:60px;" placeholder="Поиск..." id="searchInput" class="form-control search">
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        <div id="onlineUsersList"></div>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat" style="margin-left:60px; position:static !important">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight" style="padding-bottom: 5px;padding-top: 5px;" >
                        <div class="user_info">
                            <span><span style="padding-right:200px;font-size:32px !important" id="chat-with-name"></span></span>
                            <span hidden="hidden"><span id="chat-with-id"></span></span>
                        </div>
                        <div style="padding-right:20px;" class="img_cont">
                            <img id="currUserPhoto" class="user_img" hidden="hidden" src="">
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="mm">
                    <ul id="messages">
                        <li id="messageListId">
                       

                        </li>
                    </ul>
                </div>
                <script>

                    function HideInput (el){
                        document.getElementById('x').hidden = 'hidden';
                        document.getElementById('x').hidden = 'hidden';
                        document.getElementById('fileInput').value = "";
                        document.getElementById('fileName').textContent = '';
                    }
                    function ShowX(el) {
                        if (el.files[0].size < 31457280){
                              document.getElementById('x').removeAttribute('hidden');
                              document.getElementById('fileName').textContent = el.files[0].name;
                        }else{
                            document.getElementById('fileName').textContent = 'Файл должен быть меньше 30 мб';
                            document.getElementById('fileInput').value = "";
                        }
                      
                    }
                </script>
                <div class="card-footer" id="inputMessage" style="display:none">
                    <div class="input-group" style="box-shadow: 0 5px 10px -2px grey;">
                        <input onchange="ShowX(this)" type="file" id="fileInput" class="fileInput" style="display: none;">
                      
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn">
                                <img style="width:30px;height:40px;" class="attach_btn" id="attachButton" src="~/content/images/attach.svg" />
                            </span>
                        </div>
                        <textarea name="" class="form-control type_msg" id="messageInput" placeholder="Напишите сообщение...">
                         </textarea>
                        <div class="input-group-append">


                            <span class="input-group-text send_btn">
                                <img style="width:45px;height:40px;" class="input-group-text send_btn" id="sendButton" src="~/content/images/sendarrow.svg" />
                            </span>
                        </div>
                        
                        <div id="loading-spinner" style="display: none;">
                            <i class="fa fa-spinner fa-spin"></i> Загрузка файла...
                        </div>
                    </div>
                    <div>
                        <span id="fileName"></span>
                        <input onclick="HideInput(this)" type="button" id="x" value="x" hidden="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    document.getElementById("searchInput").onkeyup = chatSearch;


    var url = "@web_app.Program.web_server_ip"+"/chatHub" + "?" + "token=" + "@ViewData["userid"]";
    const connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl(url)
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.start().then(() => {
    });

    var receiverId = function (id, userId) {
        $('#chat-with-id').text(id);
        $('#chat-with-name').text(userId);
        document.getElementById("messageInput").value = "";

        var imgSrc = '';

        $('#onlineUsersList li').each(function () {
            if ($(this).css('background-color') === 'rgb(143, 225, 215)') {
                $(this).css('background-color', '#DDDBDB');
            }
        });

        $('#onlineUsersList li').each(function () {
            var userId2 = $(this).find('#user_info p').text();
            if (userId2 == userId) {
                imgSrc = $(this).find('img').attr('src');
                $(this).css('background-color','#8FE1D7');

                return false; // выход из цикла each() при нахождении нужного элемента
            }
        });
        
        document.getElementById('currUserPhoto').src = imgSrc;
        document.getElementById('currUserPhoto').removeAttribute('hidden');
        connection.invoke("GetMessages", $('#chat-with-id').text()).then((result) => {
           


            document.getElementById('inputMessage').style.display = 'block';

        }).catch(err => console.error(err.toString()));
        event.preventDefault();
    }
    var sendMessage = function () {

        const message = $.trim(document.getElementById("messageInput").value);
       
        var hasFiles= document.getElementById("fileInput");
        if (!message && hasFiles.files.length == 0) {
            return;
        }
        if (hasFiles.files.length > 0) {
            const file = document.getElementById("fileInput").files[0];
            const reader = new FileReader();
            reader.addEventListener('load', () => {
                const attachment = {
                    fileName: file.name,
                    content: reader.result.split(',')[1]
                };
                document.getElementById("loading-spinner").style.display = "block";

                connection.invoke('SendMessageWithFile', attachment, $('#chat-with-id').text(), message)
                    .then(() => { document.getElementById("loading-spinner").style.display = "none";HideInput()})
                    .catch((err) => {document.getElementById("loading-spinner").style.display = "none";HideInput()});
            });

            reader.readAsDataURL(file);  

        }else{
            connection.invoke("SendMessage", message, $('#chat-with-id').text(), null).then((result) => {
            }).catch(err => console.error(err.toString()));
        }

        event.preventDefault();
         document.getElementById("messageInput").value = "";
    }
    document.getElementById("sendButton").addEventListener("click", event => {
        sendMessage();
    });
    $("#messageInput").keydown(function (e) {
        if (e.keyCode == 13) {
            sendMessage();
            e.preventDefault();
        }
    });
    connection.on("UserList", (connectionId, userId, photo) => {
        $('#onlineUsersList').append('<li style="border-radius:10px" class="active" onclick="receiverId(' + "'" + connectionId + "', '" + userId + "'" + ')">' +
            '<div class="d-flex bd-highlight" style="height:70px">' +
            '<div class="img_cont">' +
            '<a href=""><img src="'+photo+'" class="rounded-circle user_img"></a>' +
            '</div>' +
            '<div id="user_info" class="user_info">' +
            '<p>' + userId + '</p></div> </div></li>')
    });
    connection.on("DisconnectUser", (connectionId) => {$('li:contains('+ connectionId +')').remove();});

    connection.on("ClearNow", () => {
        $('#messageListId').empty();
    });



    connection.on("OwnMessage", (message, filePath, photo, username) => {
        if(message){
            $('#messageListId').append('<li><div class="d-flex justify-content-start ">' +
                '<div class="img_cont_msg">' +
                '<img src="' + photo + '" class="rounded-circle user_img_msg"> </div>' +
                '<div class="messagerName" id="messagerName">' + username + '</div>' +
                '</div>' +
                '<div class="msg_container">' +
                '<span class="msg_time_send"></span>' +
                message +
                '</div>' +
                '</li>');

           
        }
       
            if(filePath){

            $('#messageListId').append('<li><div class="d-flex justify-content-start ">' +
                '<div class="img_cont_msg">' +
                '<img src="' + photo + '" alt="find and solve" class="rounded-circle user_img_msg"> </div>' +
                '<div class="messagerName" id="messagerName">' + username + '</div>' +
                '</div>' +
                '<div class="msg_container">' +
                '<span class="msg_time_send"></span>' +
                '<a download href="' + '@web_app.Program.web_server_ip' + '/files/' + filePath + '">' + filePath + '</a>' +
                '</div>' +
                '</li>');
           
                    }
    });
    connection.on("ReceiveMessage", (message, senderId, senderName, filePath, photo) => {
        $('#chat-with-id').text(senderId);
        $('#chat-with-name').text(senderName);

        if(message){
            $('#messageListId').append('<li><div class="d-flex justify-content-start ">' +
                '<div class="img_cont_msg">' +
                '<img src="' + photo + '" class="rounded-circle user_img_msg"> </div>' +
                '<div class="messagerName" id="messagerName">' + senderName + '</div>' +
                '</div>' +
                '<div class="msg_container">' +
                '<span class="msg_time_send"></span>' +
                message +
                '</div>' +
                '</li>');
       

           
        }
        

            if(filePath){


                  $('#messageListId').append('<li><div class="d-flex justify-content-start ">' +
                '<div class="img_cont_msg">' +
                '<img src="' + photo + '" class="rounded-circle user_img_msg"> </div>' +
                '<div class="messagerName" id="messagerName">' + senderName + '</div>' +
                '</div>' +
                '<div class="msg_container">' +
                '<span class="msg_time_send"></span>' +
                '<a download href="'+'@web_app.Program.web_server_ip'+'/files/' + filePath + '">' + filePath + '</a>' +
                '</div>' +
                '</li>');
    
            }
    });

    document.getElementById('attachButton').addEventListener('click', () => {
        document.getElementById('fileInput').click();
    });

</script>