@model web_server.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"></div>
<div style="padding:50px;">
   
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div>
                    <label id="error" style="color:darkred" hidden="hidden">Неверное имя пользователя или пароль</label>
                    <br/>
                                        <br/>

                    <form method='post' action="/login/">
                        <div>
                            @Html.AntiForgeryToken()
                            <div>
                                <label>Логин</label><br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                <label>Пароль</label><br />
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="padding-left:35%;width:40%;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                        </form>
                </div>
            </div>
        </div>
    <br />
    <br/>
    <br/>
    @{
        if(ViewData["Id"] != null)
        {
            
            <a href="/registration?id=@ViewData["Id"].ToString()">Нет аккаунта? Зарегистрируйся!</a>
        }
        else
        {
            <a href="/registration">Нет аккаунта? Зарегистрируйся!</a>

        }
    }
</div>

@{
    if (ViewData["error"] != null)
    {
        <script>
            document.getElementById("error").removeAttribute("hidden");
            document.getElementById("error").innerHTML = '@ViewData["error"].ToString()';
        </script>
    }
}
