@using web_app.Models;
@using web_server.Models;
@model Dictionary<DateTime,List<StudentPayment>>;

@{
    Layout = "_Layout";
    User user = (User)ViewData["user"];
}
<link rel="stylesheet" href="~/css/table.css">

<div>
    <h2>Статистика студента</h2>
    <button onclick="printTable()">[Печать]</button>

</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Дата оплаты</th>
            <th>Сумма оплаты</th>
            <th>Дата занятия</th>
            <th>Стоимость занятия</th>
            <th>Тип занятия</th>

        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in Model)
            {
                foreach (var payment in item.Value)
                {
                    <tr>

                        <td>
                            @{
                                if (payment.PaymentDate != DateTime.MinValue)
                                {
                                    @payment.PaymentDate.ToShortDateString()
                                }
                            }

                        </td>


                        <td>
                            @{

                                if (!string.IsNullOrEmpty(payment.PaymentAmount))
                                {
                                    @payment.PaymentAmount
                                }
                            }

                        </td>

                        <td>@payment.LessonDate.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@payment.LessonAmount</td>
                       
                        @{
                            if (payment.LessonLooped)
                            {
                                <td> Повторяющееся</td>
                            }
                            else
                            {
                                <td>Разовое</td>
                            }
                        }
                        
                    </tr>

                }

            }
        }
        
    </tbody>
</table>
<script>
      function printTable() {
      var table = document.getElementById('myTable');
      var newWin = window.open('', 'Print-Window');
      newWin.document.write("<html><head><title>Таблица</title><link rel='stylesheet' href='/css/table.css' media='print'></head><body>");
      newWin.document.write(table.outerHTML);
      newWin.document.write('</body></html>');
      newWin.print();
      newWin.close();
    }
</script>