@media (min-height: 667px) {
   .card{
       height:80vh;
   }
}

@media (min-width: 280px) {
    .contacts_card {
        width: 100px !important;
    }
    .card{
        margin-left:0px;
    }
}
@media (min-width: 414px) {
    .contacts_card {
        width:200px !important;
    }
}


@media (min-width: 768px) {
    .contacts_card {
        width: 200px !important;
    }
    .row{
        flex-wrap:nowrap;
        margin-right:10px;
        margin-left:100px;
    }
}

@media (min-width: 280px) {
    .contacts_card {
        width: 100px !important;
    }

    .row{
        flex-wrap: nowrap;
        margin-right: 10px;
        margin-left: 100px;
    }
    .col-md-8{
        margin-left:-90px !important;
    }
}
@media (min-width: 1024px) {
    .contacts_card {
        width: 350px !important;
    }
    .card{
        height:80vh;
        width:140%;
        margin-left:0px;
        
    }
    .row {
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-md-8 {
        margin-left: 60px !important;
    }
}