td {
    width: 90%;
}

@media (min-width: 280px) {
    td {
        width: 20px !important;
    }

        td button {
            width: 10px !important;
        }

        td label {
            width: 20px !important;
        }
}

@media (min-width: 768px) {
    td {
        width: 30px !important;
    }

        td button {
            width: 100px !important;
        }

        td label {
            width: 30px !important;
        }
}

@media (min-width: 1024px) {
    td {
        width: 50px !important;
    }

        td button {
            width: 100px !important;
        }

        td label {
            width: 50px !important;
        }
}
@media  (min-width: 1920px) {
    td {
        width: 65px !important;
    }

        td button {
            width: 200px !important;
        }

        td label {
            width: 65px !important;
        }
}
.ui-datepicker-trigger {
    display: none;
}

#datepicker {
    background-image: url('/content/images/calendar.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
    padding-right: 30px;
}

.image-container {
    display: inline-block;
    position: relative;
}

    .image-container .image-description {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 20px;
        width: 300px;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .image-container:hover .image-description {
        visibility: visible;
        opacity: 1;
    }
.ui-datepicker-calendar thead {
    background-color: #3f87a6;
    color: #fff;
    border-collapse:inherit;

}

td label{
    width:40px;
    border-radius:10px;
        
}

    td label {
        height: 64px !important;
    }
tbody td {
    padding: 1px 1px !important;
    height: 64px !important;
}
