<script src="~/js/jquery/jquery.min.js"></script>

<style>

    .FullContent {
        display: flex;
        background-color: #FAFAFA
        
        
    }

    .CustomLeftnavbar {
        position:absolute;
        height: 100%;
        background-color: white;
        width:230px;
        flex: 0 0 300px;
    }
    .container {
        margin-top: 100px;
            margin-left: 250px;
        margin-right: 20px;
        
        height:100vh;
    }
  /*  .u-header .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -56px 75px 0 94px;
}

.u-header .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 22px 0 0 19px;
}

*/


</style>
<link href="~/content/nicepage.css" rel="stylesheet">
<link href="~/content/login/Вход.css" rel="stylesheet">

<style>
    /*.notification-wrapper {
        position: relative;
        display: inline-block;
        float:right;
    }*/
    .notification-wrapper {
        position: absolute;
        display: inline-block;
        height:10vh;
        float: right;
        top: 20px;
        right: 0;
    }
    .notification-icon {
        position: relative;
        padding: 8px;
        background-color: transparent;
        border: none;
        float:right;
        cursor: pointer;
    }

    .icon-badge {
        position: absolute;
        top: -8px;
        display: none;
        right: -8px;
        padding: 4px;
        border-radius: 50%;
        background-color: red;
        color: white;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
    }

    .icon-bell {
        display: block;
        width: 20px;
        height: 20px;
        background: url('https://cdn-icons-png.flaticon.com/512/3221/3221952.png') no-repeat center center / cover;
        float: right;
        margin-right: 20px;
    }

    .notification-menu {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        width: 200px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        display: none;
    }

        .notification-menu.show {
            display: block;
        }

        .notification-menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .notification-menu li {
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid #e6e6e6;
        }

            .notification-menu li:last-child {
                border-bottom: none;
            }

        .notification-menu a {
            color: #333;
            text-decoration: none;
        }

            .notification-menu a:hover {
                text-decoration: underline;
            }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: auto;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    }

        .dropdown-content a {
            display: block;
            color: #000000;
            width: auto;
            padding: 5px;
            text-decoration: none;
        }

            .dropdown-content a:hover {
                color: #FFFFFF;
                background-color: #00A4BD;
            }
</style>
<script>

    $(document).ready(function() {
  $("#header-link1").change(function(){
    if ($(this).val()!='') {
      window.location.href=$(this).val();
    }
  });
}); 


</script>
<html lang="ru">
<body>

    <header>
    </header>
  <div class="notification-wrapper">
            <img id="avatar" width="30" height="30" src="@ViewData["photoUrl"]" />
      
        <span style="margin-left:10px; margin-right:10px">@ViewData["displayName"]</span>

        <div class="dropdown">
            <button>↓</button>
          <div class="dropdown-content">
          <a  href="~/account">Профиль</a>
          <a href="~/account/logout">Выйти</a>
          </div>
        </div>
        <button style="margin-left:10px; margin-right:10px" class="notification-icon" aria-label="Уведомления">
   <span id="icon-badge" class="icon-badge"></span>
    <span class="icon-bell"></span>
  </button>
  <div class="notification-menu">
    <ul id="notif-list" class="norif-list">
    </ul>

  </div>
</div>
    @{
        Html.RenderPartial("~/Views/Shared/_Notifications.cshtml");
     }
        <div class="FullContent">
                    
            <div  class="CustomLeftnavbar">
            @{
                <div class="u-clearfix u-group-elements u-group-elements-1">
                    <img class="logo u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="/content/images/image6.png" align="left" alt="" data-image-width="94" data-image-height="95">
                                        <br/>
                    <h3 style="font-weight:bold" class="logo-text-vitok u-custom-font u-font-montserrat u-text u-text-1">ВИТОК</h3>
                    <h3 style="font-weight:bold" class="logo-text-online u-custom-font u-font-montserrat u-text u-text-2">
                        онлайн-школа<br>
                    </h3>
                 
                </div>
                Html.RenderPartial("~/Views/Shared/_LeftMenu.cshtml");
            }

            </div>
             <div class="container">
                <main rol e="main" class="CustomBody">
                @RenderBody()
                </main>
            </div>
        </div> 

</body>
</html>

<script>
    const notificationIcon = document.querySelector('.notification-icon');
    const notificationMenu = document.querySelector('.notification-menu');
    console.log(parseInt($("#icon-badge").text()));
    if (!isNaN(parseInt($("#icon-badge").text()))) {
        $("#icon-badge").show();
    }
    notificationIcon.addEventListener('click', function () {
        notificationMenu.classList.toggle('show');

        var els = document.getElementById('notif-list').getElementsByTagName('li');
        for (let i = 0; i < els.length; i++) {
            if (!els[i].classList.contains('read')){
                $.post("@web_app.Program.web_server_ip" +"/api/account/MarkAsRead", { id: els[i].getAttribute("data-id") });
            }
        }

        $("#icon-badge").hide();

    });


    var dropdown = document.querySelector('.dropdown');
    var dropdownContent = document.querySelector('.dropdown-content');

    dropdown.addEventListener('click', function () {
        dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
    });
</script>