<style>

    .FullContent {
        display: flex;
        margin-top: 50px;
    }

    .CustomLeftnavbar {
        height: 100vh;
        background-color: aqua;
        flex: 0 0 300px;
    }

    .container {
        margin-left: 100px;
    }

</style>


<html lang="ru">
<body>
    <header>
    </header>
        <div class="FullContent">
            <div  class="CustomLeftnavbar" >
            @{
                Html.RenderPartial("~/Views/Shared/_LeftMenu.cshtml");
            }

            </div>
             <div class="container">
                <main rol e="main" class="CustomBody">
                @RenderBody();
                </main>
            </div>
        </div> 
</body>
</html>

