<ul class="list-group">

    @{
        if(ViewData["role"].ToString() == "Student")
        {
             <li class="nav-item">
            <a class="nav-link text-dark">Осталось занятий: @ViewData["lessons"]</a>
             </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/schedule">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/contacts">Репетиторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/balance">Баланс</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/tariff">Тарифы</a>
            </li>
        }
        if (ViewData["role"].ToString() == "Tutor")
        {
        
            <li class="nav-item">
                <a class="nav-link text-dark" href="/schedule">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/contacts">Ученики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/balance">Баланс</a>
            </li>
        }
        if (ViewData["role"].ToString() == "Manager")
        {

            <li class="nav-item">
                <a class="nav-link text-dark" href="/manageschool">Управление школой</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/courses">Курсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/tutors">Репетиторы</a>
            </li>
             <li class="nav-item">
                <a class="nav-link text-dark" href="/students">Ученики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/balance">Баланс</a>
            </li>
        }
    }
    
</ul>