<style>

    li{
        font-size:20px;
        margin: 15px 0; /*расстояние между пунктами по высоте*/
    }
    a{
        color:black;
        text-decoration: none !important;
    }
    ul{
        list-style-type: none;
    }
</style>
<ul class="list-group2">

    @{
        if(ViewData["role"].ToString() == "Student")
        {
             <li class="nav-item22">
            <a class="nav-link22 text-dark">Осталось занятий: @ViewData["lessons"]</a>
             </li>
            <li class="nav-item22">
                <a class="nav-link22 text-dark" href="/schedule">
                    <img src="~/content/images/schedule.svg" style="width:20px;height:20px" />
<span>Расписание</span>
</a>
            </li>
            <li class="nav-item22">

                @{
                    if(ViewData["firstLogin"] != null && (bool)ViewData["firstLogin"] == true)
                    {
                        <a class="nav-link22 text-dark" href="/chat">                
                        <img src="~/content/images/chat.svg" style="width:20px;height:20px" />
<span>Чаты</span></a><label style="color:darkred">(+1)</label>
                    }else{
                        <a class="nav-link22 text-dark" href="/chat">
                            <img src="~/content/images/chat.svg" style="width:20px;height:20px" />
                            <span>Чаты</span>
                        </a>
                    }
                
            }
            </li>
            <li class="nav-item22">

                <a class="nav-link22 text-dark" href="/contacts">                
                <img src="~/content/images/users.svg" style="width:20px;height:20px" />
<span>Репетиторы</span></a>
            </li>
            <li class="nav-item22">

                <a class="nav-link22 text-dark change-image" href="/balance">
                    <img src="~/content/images/coins.svg" id="coins-image" style="width:20px;height:20px" />
                    <span>Баланс</span>
                </a>
            </li>
            <li class="nav-item22">

                <a class="nav-link22 text-dark" href="/tariff">                
                <img src="~/content/images/feed.svg" style="width:20px;height:20px" />
<span>Тарифы</span></a>
            </li>
        }
        if (ViewData["role"].ToString() == "Tutor")
        {
        
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/schedule">                
                <img src="~/content/images/schedule.svg" style="width:20px;height:20px" />
<span>Расписание</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/chat">                
                <img src="~/content/images/chat.svg" style="width:20px;height:20px" />
<span>Чаты</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/contacts">                
                <img src="~/content/images/users.svg" style="width:20px;height:20px" />
<span>Ученики</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/balance">                
                <img src="~/content/images/coins.svg" style="width:20px;height:20px" />
<span>Баланс</span></a>
            </li>
        }
        if (ViewData["role"].ToString() == "Manager")
        {

            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/manageschool">                
                <img src="~/content/images/schedule.svg" style="width:20px;height:20px" />
<span>Управление школой</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/chat">                
                <img src="~/content/images/chat.svg" style="width:20px;height:20px" />
<span>Чаты</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/courses">                
                <img src="~/content/images/task-square.svg" style="width:20px;height:20px" />
<span>Курсы</span></a>
            </li>
            <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/tutors">                
                <img src="~/content/images/users.svg" style="width:20px;height:20px" />
<span>Репетиторы</span></a>
            </li>
             <li class="nav-item2">

                <a class="nav-link2 text-dark" href="/students">
                    <img src="~/content/images/local_library.svg" style="width:20px;height:20px" />
<span>Ученики</span></a>
            </li>
            <li class="nav-item2">

                <a  class="nav-link2 text-dark" href="/balance">
                    <img  src="~/content/images/coins.svg" style="width:20px;height:20px" />
                    <span>Баланс</span>
                </a>
            </li>
        }
    }
    
</ul>

<script>

    $(document).ready(function () {
        // Получаем картинку из localStorage, если она там есть
        
        var old = localStorage.getItem('last-page-url');
        var _new = window.location.href;

        if(old != _new)
        {
            var currentImage = localStorage.getItem('menu-image');
            var dd = window.location.href.includes('/balance');
            var gg =currentImage.includes('blue');


            if(gg){
                console.log('sdsd');
                currentImage= currentImage.replace('-blue', '');
            }else if(_new.includes('balance')) {
                currentImage= ('/content/images/coins-blue.svg')
               // localStorage.setItem('menu-image', newImage);
            }

            localStorage.setItem('menu-image', currentImage);
            console.log(currentImage);
        }

       
       // $('#coins-image').attr('src', newImage);
       // console.log(newImage);
        // Сохраняем новое состояние картинки в localStorage
  

        var currentImage = localStorage.getItem('menu-image');

        if (currentImage) {
            $('#coins-image').attr('src', currentImage);
            console.log(currentImage);

        }

    });

        $(window).on('beforeunload', function () {
            localStorage.setItem('last-page-url', window.location.href);
        });

        // Обрабатываем клики на ссылки с классом "change-image"
        $('.change-image').on('click', function () {
            
        });
</script>