<ul class="list-group">

    @{
        if(ViewData["role"].ToString() == "Student")
        {
             <li class="nav-item">
            <a class="nav-link text-dark">Осталось занятий:</a>
             </li>
             <br/>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/schedule">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/contacts">Репетиторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Тарифы</a>
            </li>
        }
        if (ViewData["role"].ToString() == "Tutor")
        {
        
            <li class="nav-item">
                <a class="nav-link text-dark" href="/schedule">Расписание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/chat">Чаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/contacts">Ученики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Баланс</a>
            </li>
        }
    }
    
</ul>