<div>


    <script src="~/js/signalR/signalr.min.js"></script>

    <script>
        var url3 = "@web_app.Program.web_server_ip" + "/notifHub" + "?" + "token=" + "@ViewData["usertoken"]";

        var notificationsConnection = new signalR.HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Debug)
            .withUrl(url3)
            .configureLogging(signalR.LogLevel.Information)
            .build();

        notificationsConnection.start().then(function () {
            notificationsConnection.on("ReceiveNotification", function (message, read, id) {
                var notification = $("<li id='li_" + id +"' data-id='" + id + "'>").text(message);
                $("#notif-list").prepend(notification);

                if (read === false) {
                    notification.click(function () {
                        if(!$("#li_" + id).hasClass('read')){
                           
                        };
                       
                 

                });


                
                    $("#icon-badge").show();
                    if (!$("#icon-badge").text()) {
                        $("#icon-badge").text(1);
                    } else {
                        $("#icon-badge").text(parseInt($("#icon-badge").text()) + 1);
                    }
                }
            });
        });
    </script>

</div>