.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 56px auto 0;
}

.u-section-1 .u-group-1 {
    width: 863px;
    min-height: 185px;
    height: auto;
    background-image: none;
    box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
    margin: 56px auto 60px;
    margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 94px;
  height: 94px;
  margin: 45px auto 0 6px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -109px auto 0 145px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 19px auto 0 175px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 0 175px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
    .div1 {
        width: 1000px !important;
    }
}


@media (max-width: 1980px) {
    .div1{
        width: 1300px !important;
    }
    .p12 {
        margin-left:600px !important;
    }
}
@media (max-width: 1536px) {

    .div1 {
        width: 1000px !important;
    }
    .p12 {
        margin-left: 400px !important;
    }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 77px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 77px;
  }
}